.Tahoma_18_blue_B {
    font-size: 18px;
    font-family: Tahoma, Helvetica, sans-serif;
    color: #0000FF;
    font-weight: bold;
}

.Tahoma_12_black {
    color: #000000;
    font-family: Tahoma, Helvetica, sans-serif;
    font-size: 8.5pt;
}
.link_Tahoma_12_blue:hover {
    text-decoration:underline;
}

.Tahoma_10_black {
    color: #000000;
    font-family: Tahoma, Helvetica, sans-serif;
    font-size: 10px;
}

.Tahoma_12_black_B {
    font-size: 12px;
    color: #ee2200;
    font-family: Tahoma, Helvetica, sans-serif;
    font-weight: bold;
}
.Tahoma_12_blue{
    color: #0000cc;
    font-family: Tahoma, Helvetica, sans-serif;
    font-size: 12px;
}